<h1>
  Card maintenance
</h1>
<form>
  <div>
    <div>
      <label>Category name
        <input name="categoryName" type="text" class="form-control" [(ngModel)]="card.categoryName" [ngbTypeahead]="searchCategory"/>
      </label>
    </div>
    <div>
      <label>Description
        <textarea class="cardTextarea" [(ngModel)]="card.description" placeholder="Description" name="description"></textarea>
      </label>
      </div>
    <div>
      <label>Answer
        <input class="cardTextarea" [(ngModel)]="card.answer" placeholder="Answer" name="answer">
      </label>
    </div>
    <div>
      <button (click)="save(card)">Save</button>
    </div>
  </div>
</form>
