<div>
  <div>
    <label>
      <button name="New" (click)="newCard()">New</button>
    </label>
  </div>
  <table>
    <tr>
      <th>Category</th>
      <th>Description</th>
      <th>Answer</th>
      <th>Delete</th>
    </tr>
    <tr class="table" routerLink="/cards/{{card.id}}" *ngFor="let card of getCards()">
      <td>{{card.categoryName}}</td>
      <td>{{card.description}}</td>
      <td>{{card.answer}}</td>
      <td><button (click)="deleteCard(card.id)">Delete</button></td>
    </tr>
  </table>
</div>
